In [4]:
#Dependencies and Setup
import pandas as pd
from pathlib import Path

#Files to Load
school_data_to_load = "Resources/schools_complete.csv"
school_data= pd.read_csv(school_data_to_load)

student_data_to_load = "Resources/students_complete.csv"
student_data = pd.read_csv(student_data_to_load)

school_data_merge = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_merge.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

District Summary

In [5]:
#Calculate the total number of unique schools

unique_schools = len(school_data['school_name'].unique())
print("Total number of unique schools:", unique_schools)

Total number of unique schools: 15

In [7]:
#Calculate the total number of students

total_students = len(student_data)
print("Total number of students:", total_students)

Total number of students: 39170

In [8]:
#Calculate the total budget
total_budget = school_data["budget"].sum()
print("Total School Budget:", total_budget)

Total School Budget: 24649428

In [10]:
#Calculate the average (mean) math score

average_math_score = student_data["math_score"].mean()
print("Average Math Score:", average_math_score)

Average Math Score: 78.98537145774827

In [11]:
#Calculate the average (mean) reading score

average_reading_score = student_data["reading_score"].mean()
print("Average Reading Score:", average_reading_score)

Average Reading Score: 81.87784018381414

In [12]:
#Percentage of Students Who Passed Math

passing_math_count = school_data_merge[(school_data_merge["math_score"] >=70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(total_students) * 100
print ("% of Students Who Passed Math:", passing_math_percentage)

% of Students Who Passed Math: 74.9808526933878

In [13]:
#Percentage of Students Who Passed Reading

passing_reading_count = school_data_merge[(school_data_merge["reading_score"] >=70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(total_students) * 100
print ("% of Students Who Passed Reading:", passing_reading_percentage)

% of Students Who Passed Reading: 85.80546336482001

In [14]:
#% of Students Who Passed Math & Reading

passing_math_reading_count = school_data_merge[(school_data_merge["math_score"] >= 70) & (school_data_merge["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(total_students) * 100
print ("% of Students Who Passed Math & Reading:", overall_passing_rate)

% of Students Who Passed Math & Reading: 65.17232575950983

In [34]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame({"Total Schools": [unique_schools], "Total Students" : [total_students], "Total Budget": [total_budget], "Average Math Score": [average_math_score], "Average Reading Score": [average_reading_score], "% Passing Math": [passing_math_percentage], "% Passing Reading": [passing_reading_percentage], "%Overall Passing": [overall_passing_rate]})


# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,%Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

School Summary

In [55]:
school_districts = school_data.groupby("type")


#school_districts = df_school_districts.get_group('type')

#[("type")]

school_data.head()

AttributeError: 'DataFrameGroupBy' object has no attribute 'groupby'

In [17]:
per_school_count = student_data["school_name"].value_counts()

per_school_count.head()

school_name
Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Name: count, dtype: int64

In [32]:
school_grouped = school_data.groupby("school_name")
total_budget_per_school = school_grouped["budget"].sum()
total_budget_per_school.head()






#total_budget_per_school = school_data.groupby("school_name")["budget"].sum()
#total_budget_per_school.head()

AttributeError: 'DataFrameGroupBy' object has no attribute 'groupby'

In [27]:
#total_budget_per_school = school_data.groupby("school_name")["budget"].sum()
per_school_count = student_data_df["school_name"].value_counts()
per_school_captia = total_budget_per_school / per_school_count

per_school_captia.head()

NameError: name 'student_data_df' is not defined

In [137]:
math_avg_per_school = school_data_merge.groupby("school_name")["math_score"].mean()
reading_avg_per_school = school_data_merge.groupby("school_name")["reading_score"].mean()

#reading_avg_per_school.head()
#math_avg_per_school.head()

school_name
Bailey High School      81.033963
Cabrera High School     83.975780
Figueroa High School    81.158020
Ford High School        80.746258
Griffin High School     83.816757
Name: reading_score, dtype: float64

In [146]:
students_passing_math = school_data_merge[school_data_merge["math_score"] >= 70].groupby("school_name").count()["student_name"]

students_passing_reading = school_data_merge[school_data_merge["reading_score"] >= 70].groupby("school_name").count()["student_name"]




students_passing_reading.head()

school_name
Bailey High School      4077
Cabrera High School     1803
Figueroa High School    2381
Ford High School        2172
Griffin High School     1426
Name: student_name, dtype: int64

In [148]:
# calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_merge[
    (school_data_merge["reading_score"] >= 70) & (school_data_merge["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()

school_students_passing_math_and_reading.head()

school_name
Bailey High School      2719
Cabrera High School     1697
Figueroa High School    1569
Ford High School        1487
Griffin High School     1330
dtype: int64

In [190]:
# Use the provided code to calculate the passing rates
students_passing_math = school_data_merge[school_data_merge["math_score"] >= 70].groupby("school_name").count()["student_name"]
per_school_count = student_data_df["school_name"].value_counts()
per_school_passing_math = students_passing_math / per_school_count * 100

#per_school_passing_math.head()


students_passing_reading = school_data_merge[school_data_merge["reading_score"] >= 70].groupby("school_name").count()["student_name"]
per_school_count = student_data_df["school_name"].value_counts()
per_school_passing_reading = students_passing_reading / per_school_count * 100

#per_school_passing_reading.head()


overall_passing_rate = school_students_passing_math_and_reading / per_school_count * 100
overall_passing_rate.head()

school_name
Bailey High School      54.642283
Cabrera High School     91.334769
Figueroa High School    53.204476
Ford High School        54.289887
Griffin High School     90.599455
dtype: float64

In [197]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = pd.DataFrame({"School Type": [school_data], "Total Students" : [per_school_count], "Total School Budget": [total_budget_per_school], "Per Student Budget": [per_school_captia], "Average Math Score": [math_avg_per_school], "% Passing Math": [per_school_passing_math], "% Passing Reading": [per_school_passing_reading], "%Overall Passing": [overall_passing_rate]})


# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)


# Display the DataFrame
per_school_summary

TypeError: unsupported format string passed to Series.__format__